* {
   padding: 0; 
   /* border: 1px solid red; */
   margin: 0px;
   box-sizing: border-box; /*siri fa7mi7*/
   font-family: poppins,sans-serif;
   text-decoration: none;
   scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 90;
}

.header {
  background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   flex-direction: row;

}
  .logo {
     margin-left: 13rem;
     width: 13%;   
 }



.navigation {
  width: 47%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
   
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
   list-style: none;
   align-items: center;
}

.menu li {
   padding-right: 25px;
   letter-spacing:  2px;
}

.menu li >a {
  color: black;
}

.menu-list li >a:hover {
  color: #004D7B;
  text-decoration-line: underline;
}

.toggle i {
  display: none;
}

.list-menu {
  position: absolute;
  left: 0;
  top : 10%;
  background-color: #d5dade;
  display: none;
  width: 100%;
  height: 25%;
  text-align: center;
  padding: 3%;
  list-style: none;
  line-height: 169%;
  letter-spacing: 0.2em;
  font-size: 100%;
}
.list-menu > li >a {
  color:white;
}
/* --recherche */

.recherche {
  display: flex;
           width: 5%;
           align-items: center;
}
.recherche-icon {
  margin-left: -22px;
}
.recherche.active {
  width: 20%;
}
.input {
  position: absolute;
  left : 74%;
  display: none;
}

/* ---------------------------------------------------contact-------------------------------------------------------- */
 /* ------------------------------------------------------------------------------------------------------------------ */
 .contact {
   background-color: #F2F7FF;
   padding: 4rem 0 4rem 15rem;
   display: flex;
   flex-direction: row;
   gap: 7em;
 }


 
 .form {
    padding: 0em 4em 2em 4em;
 }
 
 .form h3 {
    color: #094B72;
    font-family: Playfair Display, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    letter-spacing: 1.8px;
 }
 
 .info {
    display: flex;
    flex-direction: column;
 }
 
 .info input {
    font-size: 16px;
    width: 43em;
    height: 3em;
    margin-top: 20px;
    padding: 7px;
    background: #FFF;
    border-style: none;
    border-bottom: 2px grey solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
    /* border-radius: ; */
 }
 
 .info select {
    font-size: 16px;
    color: grey;
    width: 43em;
    height: 3em;
    margin-top: 20px;
    padding: 7px;
    background: #FFF;
    border-style: none;
    border-bottom: 2px grey solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
 }
 
 .info textarea {
    font-size: 16px;
    width: 43em;
    height: 8em;
    margin-top: 20px;
    padding: 7px;
    border-style: none;
    border-bottom: 2px grey solid;
    background: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
 }
 .info button {
    width: 10em;
    border-radius: 8px;
    background: #094B72;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: Plus Jakarta Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%; /* 22.48px */
    letter-spacing: 1.28px;
    margin-bottom: 7rem;
    padding: 15px;
    width: 10em;
 }
 .MAP {  
    margin: 3em 0em 0 0;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 7);
 }
 .MAP iframe {
   width: 300px;
   height: auto;
 }
 .tele  {
    padding: 20px;
    margin-top:2em;;
    display: flex;
    flex-direction: row;
    gap : 2em;
 } 
 .email {
   padding: 0 27% 12px 4%;
   margin-top: 2em;
   display: flex;
   flex-direction: row;
   gap: 2em;
}
 .tele img, .email img {
    width : 2em;
    height: 2em;
 }
 
 .tele p, .email p {
    font-size: 20px;
 }
 /* ---------------------------------------------------footer----------------------------------------------------------- */
 /* -------------------------------------------------------------------------------------------------------------------- */
 .feets {
   height: 400px;
   background-color: #094B72;
   display: flex;
   flex-direction: column;
}
.feet1 {
   
   background-color: #094B72;
   color : #FFF;
   display : flex;
   flex-direction : row;
   gap: 40rem;
   padding: 2em 0 9rem 10rem;
}

.feet1.logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10rem;
  margin-top: 3em;
  display: block;
}

.pf2 {
   display : flex;
   flex-direction : row;
   justify-content: center;
   align-items: center;
   gap : 2rem;
   padding-top : 4rem;
}

.list h4 {
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 20px;
}

.list li, .list a {
   color: white;
   list-style: none;
   font-family: 'Inter', sans-serif;
   font-weight: 200;
   font-style: normal;
   font-size: 16px;
   font-style: normal;
   padding-bottom: 20px;
}

.feet2{
  width: 100%;
  height: 10em;
  background-color: #004D7B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 57rem; */
  padding: 0 3em;
  color: #ffffff;
}
