* {
    padding: 0; 
    /* border: 1px solid red; */
    margin: 0px;
    box-sizing: border-box; /*siri fa7mi7*/
    font-family: poppins,sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
   position: sticky;
   top: 0;
   z-index: 90;
}

.header {
   background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;

}
   .logo {
      margin-left: 13rem;
      width: 13%;   
  }



.navigation {
   width: 47%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
    
}

.menu {
   display: flex;
   flex-direction: row;
   align-items: center;
    list-style: none;
    align-items: center;
}

 .menu li {
    padding-right: 25px;
    letter-spacing:  2px;
 }

 .menu li >a {
   color: black;
 }

 .menu-list li >a:hover {
   color: #004D7B;
   text-decoration-line: underline;
 }

 .toggle i {
   display: none;
}

.list-menu {
   position: absolute;
   left: 0;
   top : 10%;
   background-color: #d5dade;
   display: none;
   width: 100%;
   height: 25%;
   text-align: center;
   padding: 3%;
   list-style: none;
   line-height: 169%;
   letter-spacing: 0.2em;
   font-size: 100%;
}
.list-menu > li >a {
   color:white;
}
/* --recherche */

.recherche {
   display: flex;
            width: 5%;
            align-items: center;
}
.recherche-icon {
   margin-left: -22px;
}
.recherche.active {
   width: 20%;
}
.input {
   position: absolute;
   left : 74%;
   display: none;
}


/* ---------------------------------------------------- section 1------------------------------------------------------ */
.home-section1 {
   display : flex;
   flex-direction: row;
   justify-content: space-evenly;
}

 .section {
    flex: 0 0 25%;
 }

 .section h2 {
    color: #094B72;
    font-family: Playfair Display;
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1.38px;
 }

 .section p {
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 158%; /* 34.76px */
    letter-spacing: 0.5px;
    margin-bottom: 3rem;
 }
 
 .section button {
   width: 41%;
   border-radius: 8px;
   background: #094B72;
   color: var(--neutral-grey-1, #F9F8F9);
   font-family: Plus Jakarta Sans;
   font-size: 1rem;
   font-style: normal;
   font-weight: 700;
   line-height: 140.5%; /* 22.48px */
   letter-spacing: 1.28px;
   margin-bottom: 7rem;
   padding: 15px;
 }

.section img {
   margin-bottom: 10px;
} 

.image {
    position: relative;
 }

.bloc {
    width: 382px;
    height: 114px;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 39px 100px rgba(25, 62, 108, 0.12);
    color: #33475B;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
 }
 .bloc p {
    color: #87898C;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
 }
 /* -----------------------------------------------------section services---------------------------------------------- */
 .home-section2 {
   padding: 4em 0rem;
    background-color: #F2F7FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .question {
   flex: 0 0 50%;
    padding: 7% 11%;
 }

.question h3 {
   color: var(--neutral-grey-7, #2D2F30);
   font-family: Playfair Display;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 0.323px;
}

.question p {
   color: var(--neutral-grey-5, #8B8C8C);
   font-feature-settings: 'clig' off, 'liga' off;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 36px; /* 180% */
   letter-spacing: 0.5px;
   margin-top: 20px;
}

.n-service {
   flex: 0 0 50%;
   
   /* media ... block */
 }

.service {
   display: inline-block;
    width: 34%;
    height: 230px;
    vertical-align: top;
    margin-bottom: 1rem;
    margin-right: 2rem;
    padding: 14px 17px;
    background-color: #FFF;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06)

 }

.service h5 {
   color: var(--Text, #363940);
   font-family: Playfair Display;
   font-size: 22px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 0.5px;
 }

.service p {
   color: var(--neutral-grey-5, #8B8C8C);
   font-family: Plus Jakarta Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0.3px;
   margin-top: 1rem;
 }

 /* -------------------------------------------------- section de comptage-------------------------------------------- */
 .home-section3 {
   position: relative;
   background-image: url(images/background.svg);
   text-align: center;
   padding-top: 4rem;
   padding-bottom: 5rem
 }

 .background {
   width : 1857px;
   z-index: 0;
 }

 .count-matters {
    font-size: 19px;
   text-align: center;
 }

 .count-matters h4 {
   color: var(--default-white, #FFF);
   text-align: center;
   font-feature-settings: 'salt' on, 'liga' off;
   font-family: Playfair Display;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: 64px; /* 133.333% */
   letter-spacing: 0.24px;
 }

 .count-matters p {
   color: var(--default-white, #FFF);
   text-align: center;
   font-feature-settings: 'salt' on, 'liga' off;
   font-family: Poppins,sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; /* 177.778% */
   letter-spacing: 0.5px;
   margin-bottom: 5rem;
 }

 .countainer {
   display: flex;
 }
 .col_count{
   text-align: center;
    flex: 0 0 33.2%;
    color: white;
    font-size: 27px;
 }
 hr{
   height: 80px;
 }
 .countainer_section4{

 }

/* ----------- */
.client-number {
   text-align: center;
}

 .client-number h4 {
   font-size: 48px;
   color: #FFF;
 }

 .client-number p {
   text-align: center;
   color: #FFF;
 }

/* ---------- */
 .businnes {
   text-align: center;
 }

 .businnes h4 {
   font-size: 48px;
   color: #FFF;
 }

 .businnes p {
   text-align: center;
   color: #FFF;
 }

 /* --------- */
 .years {
   text-align: center;
 }

 .years h4 {
   font-size: 48px;
   color: #FFF;
 }

 .years p {
   text-align: center;
   color: #FFF;
 }

 /* ------------------------------------------------section des clients------------------------------------------------ */
 .home-section4 {
   background-color: #F2F7FF;
   padding: 3rem 0 7rem 0;

 }
 .countainer_section4{
   display: flex;
    justify-content: space-around;
    margin-top: 4rem;
 }

 .client {
   color: var(--neutral-grey-7, #2D2F30);
   text-align: center;
   font-feature-settings: 'salt' on, 'liga' off;
   font-family: Playfair Display;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 64px; /* 133.333% */
   letter-spacing: 0.5px;
}

.clients {
   display: flex;
    flex-direction: column;
    flex: 0 0 33.2%;
}

 .vue {
   padding: 23px;
   text-align: center;
   border-radius: 10px;
   height: -webkit-fill-available;
   background: #ffffff;
   box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
 }

/* .triangle {
   clip-path: polygon(0 0, 100% 0, 50% 100%);
} */

 .persone1 {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
   margin-top:2rem;
 }

 .client2 {
   display : flex;
   flex-direction: column;
}

 .vue2 {
    padding-top : 60px;
    width: 540px;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    padding : 10px;
    padding-top : 60px;
    
 }

 .persone2 {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
   margin-top:2rem;
 }
 /* --------------------------------------------------section des question-------------------------------------------- */
 .home-section5 {
   padding: 3rem 11rem;
}

 .home-section5 h4{
   color: var(--neutral-grey-7, #2D2F30);
   font-family: Playfair Display;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 64px;
   letter-spacing: 0.5px;

}

.home-section5 p {
   margin: 2em 0 1em 0;
   width: 80%;
   color: var(--neutral-grey-6, #4F4F4F);
   font-family: Poppins;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 36px; 
   letter-spacing: 0.5px;
   margin-bottom: 7rem;
}

.home-section5 button {
   width: 13%;
   border-radius: 8px;
   background: #094B72;
   color: var(--neutral-grey-1, #F9F8F9);
   font-family: Plus Jakarta Sans;
   font-size: 1rem;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 1.28px;
   margin-bottom: 7rem;
   padding: 15px;
 }



/* ---------------------------------------------------footer----------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
.feets {
   display: flex;
   flex-direction: column;
}
.feet1 {
   background-color: #094B72;
    color: #FFF;
    display: flex;
    flex: arrow;
    gap: 40rem;
    padding: 0 0 9rem 10rem;
    /* @mdeia .... {
          background-color: #094B72;
    color: #FFF;
    display: block;
    flex: arrow;
    gap: 40rem;
    padding: 0 0 9rem 10rem;} */
}

.pf1 {
   display : flex;
   flex : arrow;
   align-items: center;
}


.pf2 {
   display: flex;
    flex: arrow;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
    /*  media....{   display: block;; */

   
}

.list h4 {
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 20px;
}


.list li, .list a {
   color: white;
   list-style: none;
   font-family: 'Inter', sans-serif;
   font-weight: 200;
   font-style: normal;
   font-size: 16px;
   font-style: normal;
   padding-bottom: 20px;
}



.feet2{
   /* background-color: #004D7B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 13rem;
    color: #ffffff; */
    background-color: #004D7B;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 20px 13rem;
    color: #ffffff;
}

.logo2 {
   margin-left: 10rem;
   margin-top: 3em;
   display: block;
   
}

